In [7]:
import pandas as pd
import numpy as np

## 1. *One-tailed t-test*

### - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file `files_for_lab/machine.txt`.

H0: mean(t_new)<mean(t_old)

H1: mean(t_new)>mean(t_old)

one sided on the right

alpha = 0.05

In [8]:
data = pd.read_csv("files_for_lab/machine_new.txt", sep='\t')
data.columns=['new_machine','old_machine']
data.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

### Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

In [9]:
data.shape

(10, 2)

In [10]:
data.describe().T

             count   mean       std   min   25%   50%     75%   max
new_machine   10.0  42.14  0.683455  41.0  41.8  42.2  42.625  43.2
old_machine   10.0  43.23  0.749889  41.7  42.8  43.4  43.750  44.1

#### To answer the questen if we have enough samples for a sufficient evidence to conduct the t-test depends on many factors. To have only 10 samples is more at the lower limit. But the std seems to be quite low so the sample size can also be lower.

In [11]:
import scipy.stats as st
sample = data["new_machine"]
pop_mean = data['old_machine'].mean()
t, p_value = st.ttest_1samp(sample, pop_mean, alternative = "greater")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t, p_value))

The t statistic of our sample is: -5.04 and the corresponding p-value is: 1.00

#### The p-value is bigger then alpha: 1.00 > 0.05, therefore I will accept the Null Hypothesis. The new machine is faster then the old one.

## 2. *Matched Pairs Test*

### - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

In [12]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

H0: mean(attack) = mean(defense)

H1:  mean(attack) != mean(defense)

two sided test

alpha = 0.05

In [13]:
sample = pokemon.sample(100, random_state = 1)
t, p_value = st.ttest_rel(sample['Attack'], sample['Defense'])
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.3f}".format(t, p_value))

The t statistic of our sample is: 1.39 and the corresponding p-value is: 0.167

In [14]:
statistic, p_value = st.ttest_rel(pokemon["Attack"],pokemon["Defense"])
statistic, p_value

(4.325566393330478, 1.7140303479358558e-05)

#### p-value is smaller then 0.05 therefore i reject the 0 Hypothesis. Attack and Defense are not the same.

In [15]:
#just trying to compare to a 1sample t-test
sample = pokemon['Attack']
pop_mean = pokemon['Defense'].mean()
t, p_value = st.ttest_1samp(sample, pop_mean, alternative = "two-sided")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t, p_value))

The t statistic of our sample is: 4.50 and the corresponding p-value is: 0.00

## Part 1

### In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder

In [58]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
data.columns= data.columns.str.replace(" ","")
data['Power'] = data['Power'].str.replace(" W","")
data['Power'] = data['Power'].astype(np.number)
data

C:\Users\schue\anaconda3\Lib\site-packages\pandas\core\dtypes\common.py:1691: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  npdtype = np.dtype(dtype)

    Power  EtchingRate
0   160.0         5.43
1   180.0         6.24
2   200.0         8.79
3   160.0         5.71
4   180.0         6.71
5   200.0         9.20
6   160.0         6.22
7   180.0         5.98
8   200.0         7.90
9   160.0         6.01
10  180.0         5.66
11  200.0         8.15
12  160.0         5.59
13  180.0         6.60
14  200.0         7.55

In [89]:
group_df = pd.pivot_table(data, index="Power", values='EtchingRate', aggfunc=["mean",'count']).reset_index()
group_df.columns = ['power','etching_rate_mean','samples']
group_df

   power  etching_rate_mean  samples
0  160.0              5.792        5
1  180.0              6.238        5
2  200.0              8.318        5

### State the null hypothesis

H0: mean(etching_rate_160) = mean(etching_rate_180) = mean(etching_rate_200)

#### State the alternate hypothesis

H1: mean(etching_rate_160) != mean(etching_rate_180) != mean(etching_rate_200)

#### What is the significance level

alpha = 0.05

#### What are the degrees of freedom of the model, error terms, and total DoF

dof1 = K - 1 = 3 - 1 = 2

dof2 = N - K = 15 - 3 = 12

error terms: SST and SSE

total_dof = dof1 + dof2 = 14

## Part 2

### - In this section, use Python to conduct ANOVA.

Let's start computing the needed terms to compute $\hat{S}_{t}^{2}$:

In [92]:
S2t = 0
for power in data['Power'].unique():
    ng = len(data[data['Power'] == power])
    S2t  += ng * ( ( data[data['Power'] == power]['EtchingRate'].mean() - data['EtchingRate'].mean() ) ** 2)
S2t /= ( data['Power'].nunique() - 1 )

print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

Now let's go now with $\hat{S}_{E}^{2}$:

In [93]:
S2E = 0
for power in data['Power'].unique():
    for rate in data[data['Power'] == power]['EtchingRate']:
        S2E += ( rate - data[data['Power'] == power]['EtchingRate'].mean() ) ** 2
S2E /= ( len(data) - data['Power'].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

Finally, we can compute F:

In [94]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

The shape of the F distribution depends on two sets of degrees of freedom:  $d_{1}=K-1$ and $d_{2}=N-K$

In [96]:
d1 = data['Power'].nunique() - 1
d2 = len(data) - data['Power'].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

In [101]:
upper_critical_pval = st.f.cdf(F,dfn=d1, dfd=d2)
upper_critical_pval

0.9999924934157276

In [102]:
upper_critical_pval = 1 - st.f.cdf(F,dfn=d1, dfd=d2)
upper_critical_pval

7.5065842723986975e-06

### - What conclusions can you draw from the experiment and why?

1 - alpha < upper_critical_pval -> therfore I reject the 0 Hypothesis. The various power levels have a significant impact on the Etching Rate.